# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

# Задачи проекта
На основе статистики о платёжеспособности клиентов исследовать влияет ли семейное положение и количество детей клиента на факт возврата кредита в срок
# Описание проекта
На основе данных кредитного отдела банка исследовал влияние семейного положения и количества детей на факт погашения кредита в срок. Была получена информация о данных. Определены и обработаны пропуски. Заменены типы данных на соответствующие хранящимся данным. Удалены дубликаты. Категоризованы данные. Один датафрейм декомпозирован на три.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [3]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [184]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [185]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [186]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [187]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [188]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [189]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [190]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [191]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [192]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [193]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [194]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [195]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [196]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [197]:
data.duplicated().sum()

71

In [198]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [199]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [200]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [201]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [202]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [203]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Создаем сводную таблицу зависимости между количеством детей и возвратом кредита в срок.
debt - количество заемщиков (кредитов)
debtor - количество должников
debt_mean - средний процент просрочки по категории

In [220]:
children_debt_table = data.pivot_table(index=['children'], values='debt', aggfunc='count')
children_debt_table['debtor'] = data.pivot_table(index=['children'], values='debt', aggfunc='sum')
children_debt_table['debt_mean'] = children_debt_table['debtor'] / children_debt_table['debt'] * 100

#data.groupby('children')['debt'].count() 
children_debt_table

           debt  debtor  debt_mean
children
0         14091    1063   7.543822
1          4808     444   9.234609
2          2052     194   9.454191
3           330      27   8.181818
4            41       4   9.756098
5             9       0   0.000000

**Вывод:** В данной категории выборки не сбалансированы, то есть количество заемщиков без детей или с одним/ двумя детьми намного больше числа заемщиков с четырьми и пятью детьми. Таким образом, есть смысл сравниавть категории с 0, 1 и 2-мя детьми. Здесь, наименьшее количество задолжностей у заемщиков, у которых нет детей. Заемщики с 2-мя детьми возвращают кредит в срок хуже остальных.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Создаем сводную таблицу зависимости между семейным положением и возвратом кредита в срок.
debt - количество заемщиков (кредитов)
debtor - количество должников
debt_mean - средний процент просрочки по категории

In [206]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#data['family_status'].unique()
#data['family_status_id'].unique()
#support_data = data[['family_status','family_status_id']] # создаем вспомогательную таблицу для расшифровки family_status_id
#support_data = support_data.drop_duplicates().reset_index(drop=True) # избавляемся от дубликатов
#data_subcategory = data.groupby('family_status_id')['debt'].mean() # группируем значения конверсии по задолжностям по family_status_id
#status_debt = support_data.merge(data_subcategory, on='family_status_id', how='left') # обьединяем таблицы
#status_debt['debt'] = data.pivot_table(index=['family_status','family_status_id'], values='debt', aggfunc='count')
status_debt_table = data.pivot_table(index=['family_status','family_status_id'], values='debt', aggfunc='count')
status_debt_table['debtor'] = data.pivot_table(index=['family_status','family_status_id'], values='debt', aggfunc='sum')
status_debt_table['debt_mean'] = status_debt_table['debtor'] /  status_debt_table['debt'] *100
status_debt_table

                                         debt  debtor  debt_mean
family_status         family_status_id
Не женат / не замужем 4                  2796     273   9.763948
в разводе             3                  1189      84   7.064760
вдовец / вдова        2                   951      63   6.624606
гражданский брак      1                  4134     385   9.313014
женат / замужем       0                 12261     927   7.560558

В этом блоке приведена дополнительная таблица, по которой можно определить среднюю задолжность заемщиков (в процентах) в зависимости от семейного положения и количества детей

In [207]:
data_pivot = data.pivot_table(index=['family_status','family_status_id'], columns='children', values='debt', aggfunc='mean')
data_pivot * 100

,children,0,1,2,3,4,5
family_status,family_status_id,,,,,,
Не женат / не замужем,4,9.283820,11.581292,12.000000,12.500000,50.000000,NaN
в разводе,3,7.015306,6.730769,8.641975,9.090909,0.000000,NaN
вдовец / вдова,2,6.257379,9.090909,15.000000,0.000000,0.000000,NaN
гражданский брак,1,8.388278,11.859296,8.746356,14.285714,0.000000,0.0
женат / замужем,0,6.909480,8.268908,9.458578,6.827309,10.344828,0.0

**Вывод:** из первой таблицы видно, что в среднем задолженность больше у не женатых/ не замужних заемщиков. Наиболее ответсвенными заемщиками являются люди в разводе и ввдовцы/ вдовы. по вотрой сводной также таблице можно заметить, что не женатые/ не замужние заемщики реже возвращают кредит в срок.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Создаем сводную таблицу зависимости между уровнем дохода и возвратом кредита в срок. debt - количество заемщиков (кредитов) debtor - количество должников debt_mean - средний процент просрочки по категории

In [208]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

#group_income = data.groupby('total_income_category')['debt'].mean() # группируем конверсию по задолжностям по категориям дохода
#group_income

income_debt_table = data.pivot_table(index='total_income_category',values='debt', aggfunc='count')
income_debt_table['debtors'] = data.pivot_table(index='total_income_category',values='debt', aggfunc='sum')
income_debt_table['debt_mean'] = income_debt_table['debtors'] / income_debt_table['debt'] * 100
income_debt_table

                        debt  debtors  debt_mean
total_income_category
A                         25        2   8.000000
B                       5014      354   7.060231
C                      15921     1353   8.498210
D                        349       21   6.017192
E                         22        2   9.090909

**Вывод:** Количество заемщиков в категориях B, C существенно превышает количество заемщиков в остальных категориях. Таким образом, есть смысл сравнивать только эти две категории. Из таблицы можем заметить, что заемщики с ежемесячным доходом от 200001 до 1000000 тр в месяц (B) являются наиболее стабильными.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Создаем сводную таблицу зависимости между целями кредита и возвратом кредита в срок. debt - количество заемщиков (кредитов) debtor - количество должников debt_mean - средний процент просрочки по категории

In [209]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
#data.groupby('purpose_category')['debt'].mean() # группируем конверсию по задолжностям по целям кредита
purpose_debt_table = data.pivot_table(index='purpose_category', values='debt', aggfunc='count')
purpose_debt_table['debtors'] = data.pivot_table(index='purpose_category', values='debt', aggfunc='sum')
purpose_debt_table['debt_mean'] = purpose_debt_table['debtors'] / purpose_debt_table['debt'] *100

purpose_debt_table

                           debt  debtors  debt_mean
purpose_category
операции с автомобилем     4279      400   9.347978
операции с недвижимостью  10751      780   7.255139
получение образования      3988      369   9.252758
проведение свадьбы         2313      183   7.911803

Сводная таблица среднего значения задолжности по целям и категориям доходов

In [210]:
data_pivot_s = data.pivot_table(index=['purpose_category'], columns='total_income_category', values='debt', aggfunc='mean')
data_pivot_s * 100

total_income_category             A         B         C          D          E
purpose_category
операции с автомобилем     0.000000  8.317025  9.588180  13.888889   0.000000
операции с недвижимостью   5.882353  6.724003  7.490309   3.571429  18.181818
получение образования     25.000000  7.752809  9.854015   2.666667   0.000000
проведение свадьбы         0.000000  5.147059  8.791209   8.823529   0.000000

Для создания сводной таблицы среднего значения задолжности по целям и возрасту надо обработать данные о возрасте и гендере заемщиков и категоризовать данные

In [221]:
data.loc[data['dob_years'] == 0, 'dob_years'] = data['dob_years'].median() #избавляемся от ошибок/пропусков в данных о возрасте
data['dob_years'] = data['dob_years'].round(0).astype('int')
data.loc[(data['gender'] == 'XNA'), 'gender' ] = 'M' #избавляемся от ошибок/пропусков в данных о гендере
print(data['dob_years'].sort_values().unique())
print(data['gender'].value_counts())

[19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66
 67 68 69 70 71 72 73 74 75]
F    14092
M     7239
Name: gender, dtype: int64

In [222]:
# создаем функцию для категоризации данных о возрасте
def categorize_age(row):

    age = row[0]
    gender = row[1]
    try:
        
        if ((age >= 60 and gender == 'F') or (age >= 65 and gender == 'M')):
            return 'пенсионер'
        elif 18 <= age <= 25:
            return 'молодой'
        elif ((25 < age < 60 and gender == 'F') or (25 < age < 65 and gender == 'M')):
            return 'взрослый'
        else:
            return 'возраст не указан'
    except:
        return 'error'

In [223]:
# создаем новый столбец категорий возраста в data
support = data[['dob_years','gender']]
data['categorize_age'] = support.apply(categorize_age, axis=1)
data['categorize_age'].unique()

array(['взрослый', 'пенсионер', 'молодой'], dtype=object)

In [224]:
# сводная таблица среднего значения задолжности в процентах по целям и возрастным категориям
purpose_age_pivot = data.pivot_table(index=['purpose_category'], columns='categorize_age', values='debt', aggfunc='mean')
purpose_age_pivot = purpose_age_pivot*100
purpose_age_pivot

categorize_age            взрослый    молодой  пенсионер
purpose_category
операции с автомобилем    9.590187  13.223140   5.333333
операции с недвижимостью  7.477458   9.238250   4.134615
получение образования     9.560570  12.093023   5.185185
проведение свадьбы        8.186528  10.457516   3.913043

**Вывод:** реже всего кредит возвращают в срок заемщики с целью 'операции с автомобилем', и чаще всего задерживают выплаты заемщики с ежемесячным доходом от 30000 до 50000 тр в месяц. Наиболее стабильными являются заемщики с целью 'операции с недвижимостью', хотя из второй сводной таблицы мы можем заметить, что задолжности по кредитам были у граждан сразным уровнем достатка. Также можем заметить, что заемщики в возрасте от 18 до 25 лет (молодой) реже других возвращают кредит в срок.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* пропуски в данных были замечены в столбцах о стаже работы и доходах за месяц, это персональные данные, которые заемщик возможно не посчитал нужным указывать либо это связано с отсутствием дохода, либо с отсутствием рабочего стажа.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* количественные переменные могут иметь аномально большие или аномально маленькие значения, что приведет к неккоректному определению среднего значения с помощью среднего арифметического.

### Шаг 4: общий вывод.

   В заключение, наибольшее количество задолжностей у заемщиков в статусе не женат/ не замужем с детьми и без. Больше всего задолжности встречаются у заемщиков с доходом до 30000 рублей в месяц. Реже всего кредит выплачивают в срок заемщики с целью кредита: "операции по автомобилю". Наиболее надежными являются заемщики с целью покупки недвижимости, ремонта и тд. Наиболее ответсвенными заемщиками являются люди в разводе, ввдовцы/ вдовы, женатые/ замужние. Также наименьшее количество задолжностей у заемщиков, у которых пять детей или нет детей вовсе.
   
   В заключение, на этапе предобратки данных применялись следующие методы для дальнейшего анализа: удаление пропусков, обработка аномальных значений, удаление дубликатов. Затем категоризовали данные о ежемесячный доходе и возрасте и гендере для того, чтобы построить сводные таблицы по этим категориям. На этапе анализа данных составили сводные таблицы, по которым определили, что наибольшее количество задолжностей у заемщиков в статусе не женат/ не замужем с детьми и без. Заемщики с 2-мя детьми возвращают кредит в срок хуже остальных. Больше всего задолжности встречаются у заемщиков с доходом до 200000 рублей в месяц. Также реже всего кредит возвращают в срок заемщики с целью 'операции с автомобилем'. Интересно, что заемщики в возрасте от 18 до 25 лет (молодой) реже других возвращают кредит в срок.
   Наиболее надежными являются заемщики с целью покупки недвижимости, ремонта и тд. А наименьшее количество задолжностей у заемщиков, у которых нет детей.
   К сожалению, были и проблемы на этапе анализа данных, поскольку в некоторых категориях  выборки несбалансированны.